.botao {
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  background: #333;
  color: white;
  display: inline-block;
}

/* Menu escondido */
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;

  position: fixed;
  top: 0;
  left: -220px; /* fora da tela */
  height: 100%;
  transition: 0.3s;
}

/* Quando clicar (checkbox marcado) */
#menu-toggle:checked ~ .menu {
  left: 0; /* aparece */
}
#menu-toggle {
  display: none;
}

/* Links */
li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555555;
  color: white;
}