/*ESTILIZAÇÃO DA TELA DE LOGIN/*
/* Documento CSS, parte com * representa todos os elementos da página de forma fixa */
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    }

button{
    height: 4.6vh;
    width: 16vw;
    border-radius: 20px;
    border: none;
    margin: 6px;
    cursor: pointer;
    transition: 0.3s;
    }

    button:hover{
        background-color: #94C9A9;
        color: white;
    }


a{
    text-decoration: none;
}
/* Estilização da página de login, parte com . representa a classe do elemento */
body{
    background-color: #93B7BE;
}
.container_login{
    display: flex;
    justify-content: center;
    gap: 40px;
    height: 80vh;
    align-items: center;        
}

.login_p {
    height: 42vh;
    width: 26vw;
    background: #DBD8AE;
    position: relative;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction:column; 
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.login_a{
    height: 42vh;
    width: 26vw;
    background:#94C9A9;
    position: relative;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction:column;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

span{
    color: #000000;
}

.inputt{
    height: 35px;
    width: 70%;
    border-radius: 20px;
    border: none;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}

h2{
    margin-top: 8px;
}
h1{
    justify-content: center;
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 36px;
}

/*FIM DA ESTILIZAÇÃO DA TELA DE LOGIN PRINCIPAL/*

/*ESTILIZAÇÃO DO CADASTRO PROFESSOR*/

body{
    background-color: #93B7BE;
}

/* Container centralizado */
.container_conta{
    display: flex;
    justify-content:center;
    align-items:center;
    height: 80vh;
}

/* Caixa principal */
.criar_conta{
    height: 52vh;
    width: 28vw;
    background: #DBD8AE;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}


.inputt{
    height: 35px;
    width: 300px;
    border-radius: 20px;
    border: none;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}

h1{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 36px;
}

h2{
    margin-top: 15px;
}

/*ESTILIZAÇÃO DA TELA PRINCIPAL DO PROFESSOR*/

body{
    background-color: #93B7BE;
}

h1{
    justify-content: center;
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 36px;
}

h2{
    justify-content: center;
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 28px;
}

.caixa_tela_p{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*FIM DA ESTILIZAÇÃO DA TELA PRINCIPAL DO PROFESSOR*/

/*ESTILIZAÇÃO DE CADASTRO DE ALUNOS*/

body{
    background-color: #93B7BE;
}

/* Container centralizado */
.container_aluno{
    display: flex;
    justify-content:center;
    align-items:center;
    height: 80vh;
}

/* Caixa principal */
.caixa_aluno{
    height: 63vh;
    width: 28vw;
    background: #DBD8AE;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}


.inputt{
    height: 35px;
    width: 300px;
    border-radius: 20px;
    border: none;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}

h1{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 36px;
}

h2{
    margin-top: 15px;
}

/*FIM DA ESTILIZAÇÃO DE CADASTRO DE ALUNOS*/

/*ESTILIZAÇÃO DA TELA DO ALUNO*/

#menu-toggle {
  display: none;
}

/* Botão */


/* Menu escondido */
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;

  position: fixed;
  top: 0;
  left: -220px; /* fora da tela */
  height: 100%;
  transition: 0.3s;
}

/* Quando clicar (checkbox marcado) */
#menu-toggle:checked ~ .menu {
  left: 0; /* aparece */
}

/* Links */
li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555555;
  color: white;
}

/*FIM DA ESTILIZAÇÃO DA TELA DO ALUNO*/