*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;     
}

a{
    text-decoration: none;
}

body{
    background-color: #93B7BE;
}

h1{
    justify-content: center;
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 36px;
}

h2{
    justify-content: center;
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 28px;
}

.caixa_tela_p{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.botao{
    height: 4.6vh;
    width: 16vw;
    border-radius: 20px;
    border: none;
    margin: 6px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 50px;
}

.botao:hover{
    transform: scale(1.05);
    color: aquamarine;
}
